In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/fitbit/Fitabase Data 4.12.16-5.12.16/minuteCaloriesNarrow_merged.csv
/kaggle/input/fitbit/Fitabase Data 4.12.16-5.12.16/weightLogInfo_merged.csv
/kaggle/input/fitbit/Fitabase Data 4.12.16-5.12.16/sleepDay_merged.csv
/kaggle/input/fitbit/Fitabase Data 4.12.16-5.12.16/dailyIntensities_merged.csv
/kaggle/input/fitbit/Fitabase Data 4.12.16-5.12.16/minuteIntensitiesWide_merged.csv
/kaggle/input/fitbit/Fitabase Data 4.12.16-5.12.16/minuteMETsNarrow_merged.csv
/kaggle/input/fitbit/Fitabase Data 4.12.16-5.12.16/dailyCalories_merged.csv
/kaggle/input/fitbit/Fitabase Data 4.12.16-5.12.16/hourlyCalories_merged.csv
/kaggle/input/fitbit/Fitabase Data 4.12.16-5.12.16/heartrate_seconds_merged.csv
/kaggle/input/fitbit/Fitabase Data 4.12.16-5.12.16/minuteSleep_merged.csv
/kaggle/input/fitbit/Fitabase Data 4.12.16-5.12.16/hourlyIntensities_merged.csv
/kaggle/input/fitbit/Fitabase Data 4.12.16-5.12.16/hourlySteps_merged.csv
/kaggle/input/fitbit/Fitabase Data 4.12.16-5.12.16/minuteStepsNarrow_merged.csv
/kaggle/input/fitbit/Fitabase Data 4.12.16-5.12.16/dailySteps_merged.csv
/kaggle/input/fitbit/Fitabase Data 4.12.16-5.12.16/minuteStepsWide_merged.csv
/kaggle/input/fitbit/Fitabase Data 4.12.16-5.12.16/minuteIntensitiesNarrow_merged.csv
/kaggle/input/fitbit/Fitabase Data 4.12.16-5.12.16/minuteCaloriesWide_merged.csv
/kaggle/input/fitbit/Fitabase Data 4.12.16-5.12.16/dailyActivity_merged.csv

## Note Content
### Note Overview:

This is a brief debugging note involving Python SQLite to perform a table join. However, the results obtained were unexpected, with some tables displaying "None" instead of the original data. To investigate the issue, I began my analysis from that point onwards.

### [1. Validating Data Imports and Organization](#Validating-Data-Imports-and-Organization)

* Streamlining Date Format Changes

* Table Joins for Data Integration

### [2. Progress of Debugging](#Progress-of-Debugging)

### [3. Note Summary](#Note-Summary)

* To avoid similar issues in the future

[back to note content](#Note-Content)
### Validating Data Imports and Organization

In [2]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import datetime

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

Data import and organization verification

In [3]:
path = '../input/fitbit/Fitabase Data 4.12.16-5.12.16'

def get_all_files_in_path(path):
    """
    This function takes a directory path as input and returns a list containing the full paths to all the files present in that directory.
    
    Parameters:
    path (str): The directory path to scan for files.
    
    Returns:
    list: A list of strings representing the full paths to all the files in the specified directory.
    """
    
    full_path_list = [entry.path for entry in os.scandir(path) if entry.is_file()]
    return full_path_list

In [4]:
get_all_files_in_path(path)

['../input/fitbit/Fitabase Data 4.12.16-5.12.16/minuteCaloriesNarrow_merged.csv',
 '../input/fitbit/Fitabase Data 4.12.16-5.12.16/weightLogInfo_merged.csv',
 '../input/fitbit/Fitabase Data 4.12.16-5.12.16/sleepDay_merged.csv',
 '../input/fitbit/Fitabase Data 4.12.16-5.12.16/dailyIntensities_merged.csv',
 '../input/fitbit/Fitabase Data 4.12.16-5.12.16/minuteIntensitiesWide_merged.csv',
 '../input/fitbit/Fitabase Data 4.12.16-5.12.16/minuteMETsNarrow_merged.csv',
 '../input/fitbit/Fitabase Data 4.12.16-5.12.16/dailyCalories_merged.csv',
 '../input/fitbit/Fitabase Data 4.12.16-5.12.16/hourlyCalories_merged.csv',
 '../input/fitbit/Fitabase Data 4.12.16-5.12.16/heartrate_seconds_merged.csv',
 '../input/fitbit/Fitabase Data 4.12.16-5.12.16/minuteSleep_merged.csv',
 '../input/fitbit/Fitabase Data 4.12.16-5.12.16/hourlyIntensities_merged.csv',
 '../input/fitbit/Fitabase Data 4.12.16-5.12.16/hourlySteps_merged.csv',
 '../input/fitbit/Fitabase Data 4.12.16-5.12.16/minuteStepsNarrow_merged.csv',
 '../input/fitbit/Fitabase Data 4.12.16-5.12.16/dailySteps_merged.csv',
 '../input/fitbit/Fitabase Data 4.12.16-5.12.16/minuteStepsWide_merged.csv',
 '../input/fitbit/Fitabase Data 4.12.16-5.12.16/minuteIntensitiesNarrow_merged.csv',
 '../input/fitbit/Fitabase Data 4.12.16-5.12.16/minuteCaloriesWide_merged.csv',
 '../input/fitbit/Fitabase Data 4.12.16-5.12.16/dailyActivity_merged.csv']

In [5]:
def read_csv_head(file_path):
    """
    Read the CSV file at the specified file path and print the first five rows.

    Parameters:
        file_path (str): The file path to the CSV file.

    Returns:
        None
    """
    df = pd.read_csv(file_path)
    print('Head of', file_path, ':\n', df.head(5))

In [6]:
file_path = '../input/fitbit/Fitabase Data 4.12.16-5.12.16/dailyActivity_merged.csv'
print(read_csv_head(file_path))
file_path = '../input/fitbit/Fitabase Data 4.12.16-5.12.16/sleepDay_merged.csv'
print(read_csv_head(file_path))

Head of ../input/fitbit/Fitabase Data 4.12.16-5.12.16/dailyActivity_merged.csv :
            Id ActivityDate  TotalSteps  TotalDistance  TrackerDistance  \
0  1503960366    4/12/2016       13162           8.50             8.50
1  1503960366    4/13/2016       10735           6.97             6.97
2  1503960366    4/14/2016       10460           6.74             6.74
3  1503960366    4/15/2016        9762           6.28             6.28
4  1503960366    4/16/2016       12669           8.16             8.16

   LoggedActivitiesDistance  VeryActiveDistance  ModeratelyActiveDistance  \
0                       0.0                1.88                      0.55
1                       0.0                1.57                      0.69
2                       0.0                2.44                      0.40
3                       0.0                2.14                      1.26
4                       0.0                2.71                      0.41

   LightActiveDistance  SedentaryActiveDistance  VeryActiveMinutes  \
0                 6.06                      0.0                 25
1                 4.71                      0.0                 21
2                 3.91                      0.0                 30
3                 2.83                      0.0                 29
4                 5.04                      0.0                 36

   FairlyActiveMinutes  LightlyActiveMinutes  SedentaryMinutes  Calories
0                   13                   328               728      1985
1                   19                   217               776      1797
2                   11                   181              1218      1776
3                   34                   209               726      1745
4                   10                   221               773      1863
None
Head of ../input/fitbit/Fitabase Data 4.12.16-5.12.16/sleepDay_merged.csv :
            Id               SleepDay  TotalSleepRecords  TotalMinutesAsleep  \
0  1503960366  4/12/2016 12:00:00 AM                  1                 327
1  1503960366  4/13/2016 12:00:00 AM                  2                 384
2  1503960366  4/15/2016 12:00:00 AM                  1                 412
3  1503960366  4/16/2016 12:00:00 AM                  2                 340
4  1503960366  4/17/2016 12:00:00 AM                  1                 700

   TotalTimeInBed
0             346
1             407
2             442
3             367
4             712
None

Convert the data format in the "sleepDay" column to %m/%d/%Y.

In [7]:
# Define the file path
file_path = '../input/fitbit/Fitabase Data 4.12.16-5.12.16/sleepDay_merged.csv'

# Read the CSV file into a pandas DataFrame
df_sleepday = pd.read_csv(file_path)

# Convert 'SleepDay' column to datetime objects
df_sleepday['SleepDay'] = pd.to_datetime(df_sleepday['SleepDay'])

# Convert datetime objects to strings in '4/12/2016' format
df_sleepday['SleepDay'] = df_sleepday['SleepDay'].dt.strftime('%m/%d/%Y')

# Now the 'SleepDay' column is in '4/12/2016' format
df_sleepday.head(5)

,Id,SleepDay,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed
0,1503960366,04/12/2016,1,327,346
1,1503960366,04/13/2016,2,384,407
2,1503960366,04/15/2016,1,412,442
3,1503960366,04/16/2016,2,340,367
4,1503960366,04/17/2016,1,700,712

I use Python's SQLite to perform a left join between 'dailyActivity_merged.csv' and 'sleepDay_merged.csv' based on the common columns 'Id' and 'ActivityDate' equal to 'SleepDay'.

In [8]:
# Load data from CSV files into pandas DataFrames
activity_df = pd.read_csv('../input/fitbit/Fitabase Data 4.12.16-5.12.16/dailyActivity_merged.csv')
sleep_df = df_sleepday

# Connect to an SQLite database (if the database doesn't exist, it will be created)
conn = sqlite3.connect('activity_sleep.db')

# Insert DataFrames into SQLite tables
activity_df.to_sql('activity', conn, if_exists='replace', index=False)
sleep_df.to_sql('sleep', conn, if_exists='replace', index=False)

# SQL query to join the two tables on 'Id' and 'ActivityDate'
query = """
SELECT a.Id, a.ActivityDate, TotalSteps, TotalDistance, TrackerDistance, LoggedActivitiesDistance,
       VeryActiveDistance, ModeratelyActiveDistance, LightActiveDistance, SedentaryActiveDistance,
       VeryActiveMinutes, FairlyActiveMinutes, LightlyActiveMinutes, SedentaryMinutes, Calories,
       TotalMinutesAsleep, TotalTimeInBed
FROM activity AS a
LEFT JOIN sleep AS s ON a.Id = s.Id AND a.ActivityDate = s.SleepDay
"""

# Execute the query and fetch the result
result_df = pd.read_sql(query, conn)

# Close the database connection
conn.close()

# Display the result
print(result_df)

             Id ActivityDate  TotalSteps  TotalDistance  TrackerDistance  \
0    1503960366    4/12/2016       13162       8.500000         8.500000
1    1503960366    4/13/2016       10735       6.970000         6.970000
2    1503960366    4/14/2016       10460       6.740000         6.740000
3    1503960366    4/15/2016        9762       6.280000         6.280000
4    1503960366    4/16/2016       12669       8.160000         8.160000
..          ...          ...         ...            ...              ...
935  8877689391     5/8/2016       10686       8.110000         8.110000
936  8877689391     5/9/2016       20226      18.250000        18.250000
937  8877689391    5/10/2016       10733       8.150000         8.150000
938  8877689391    5/11/2016       21420      19.559999        19.559999
939  8877689391    5/12/2016        8064       6.120000         6.120000

     LoggedActivitiesDistance  VeryActiveDistance  ModeratelyActiveDistance  \
0                         0.0                1.88                      0.55
1                         0.0                1.57                      0.69
2                         0.0                2.44                      0.40
3                         0.0                2.14                      1.26
4                         0.0                2.71                      0.41
..                        ...                 ...                       ...
935                       0.0                1.08                      0.20
936                       0.0               11.10                      0.80
937                       0.0                1.35                      0.46
938                       0.0               13.22                      0.41
939                       0.0                1.82                      0.04

     LightActiveDistance  SedentaryActiveDistance  VeryActiveMinutes  \
0                   6.06                     0.00                 25
1                   4.71                     0.00                 21
2                   3.91                     0.00                 30
3                   2.83                     0.00                 29
4                   5.04                     0.00                 36
..                   ...                      ...                ...
935                 6.80                     0.00                 17
936                 6.24                     0.05                 73
937                 6.28                     0.00                 18
938                 5.89                     0.00                 88
939                 4.25                     0.00                 23

     FairlyActiveMinutes  LightlyActiveMinutes  SedentaryMinutes  Calories  \
0                     13                   328               728      1985
1                     19                   217               776      1797
2                     11                   181              1218      1776
3                     34                   209               726      1745
4                     10                   221               773      1863
..                   ...                   ...               ...       ...
935                    4                   245              1174      2847
936                   19                   217              1131      3710
937                   11                   224              1187      2832
938                   12                   213              1127      3832
939                    1                   137               770      1849

    TotalMinutesAsleep TotalTimeInBed
0                 None           None
1                 None           None
2                 None           None
3                 None           None
4                 None           None
..                 ...            ...
935               None           None
936               None           None
937               None           None
938               None           None
939               None           None

[940 rows x 17 columns]

[back to note content](#Note-Content)
### Progress of Debugging

**Issue:** 

The columns 'TotalMinutesAsleep' and 'TotalTimeInBed' are displaying 'None' instead of their original data.

**Possible Explanation:** 

The problem might arise from the presence of NULL values in the 'TotalMinutesAsleep' and 'TotalTimeInBed' columns of the 'sleepDay_merged.csv' file. During the data merge or processing, rows with no corresponding records in the 'sleep' table could have ended up with NULL values for these columns.

**Proposed Solution:** 

To address this issue, I can utilize the COALESCE function in the SQL query to substitute NULL values with a default value, such as 0. Below is the updated code implementing this solution:

By incorporating COALESCE(s.TotalMinutesAsleep, 0) and COALESCE(s.TotalTimeInBed, 0) in the SQL query, I replace any NULL values in 'TotalMinutesAsleep' and 'TotalTimeInBed' with 0. As a result, the DataFrame will display 0 instead of 'None' for these columns when there is no matching record in the 'sleep' table.

In [9]:
# Load data from CSV files into pandas DataFrames
activity_df = pd.read_csv('../input/fitbit/Fitabase Data 4.12.16-5.12.16/dailyActivity_merged.csv')
sleep_df = df_sleepday

# Connect to an SQLite database (if the database doesn't exist, it will be created)
conn = sqlite3.connect('activity_sleep.db')

# Insert DataFrames into SQLite tables
activity_df.to_sql('activity', conn, if_exists='replace', index=False)
sleep_df.to_sql('sleep', conn, if_exists='replace', index=False)

# SQL query to join the two tables on 'Id' and 'ActivityDate' and handle NULL values
query = """
SELECT a.Id, a.ActivityDate, TotalSteps, TotalDistance, TrackerDistance, LoggedActivitiesDistance,
       VeryActiveDistance, ModeratelyActiveDistance, LightActiveDistance, SedentaryActiveDistance,
       VeryActiveMinutes, FairlyActiveMinutes, LightlyActiveMinutes, SedentaryMinutes, Calories,
       COALESCE(s.TotalMinutesAsleep, 0) AS TotalMinutesAsleep, COALESCE(s.TotalTimeInBed, 0) AS TotalTimeInBed
FROM activity AS a
LEFT JOIN sleep AS s ON a.Id = s.Id AND a.ActivityDate = s.SleepDay
"""

# Execute the query and fetch the result
result_df = pd.read_sql(query, conn)

# Close the database connection
conn.close()

# Display the result
print(result_df)

             Id ActivityDate  TotalSteps  TotalDistance  TrackerDistance  \
0    1503960366    4/12/2016       13162       8.500000         8.500000
1    1503960366    4/13/2016       10735       6.970000         6.970000
2    1503960366    4/14/2016       10460       6.740000         6.740000
3    1503960366    4/15/2016        9762       6.280000         6.280000
4    1503960366    4/16/2016       12669       8.160000         8.160000
..          ...          ...         ...            ...              ...
935  8877689391     5/8/2016       10686       8.110000         8.110000
936  8877689391     5/9/2016       20226      18.250000        18.250000
937  8877689391    5/10/2016       10733       8.150000         8.150000
938  8877689391    5/11/2016       21420      19.559999        19.559999
939  8877689391    5/12/2016        8064       6.120000         6.120000

     LoggedActivitiesDistance  VeryActiveDistance  ModeratelyActiveDistance  \
0                         0.0                1.88                      0.55
1                         0.0                1.57                      0.69
2                         0.0                2.44                      0.40
3                         0.0                2.14                      1.26
4                         0.0                2.71                      0.41
..                        ...                 ...                       ...
935                       0.0                1.08                      0.20
936                       0.0               11.10                      0.80
937                       0.0                1.35                      0.46
938                       0.0               13.22                      0.41
939                       0.0                1.82                      0.04

     LightActiveDistance  SedentaryActiveDistance  VeryActiveMinutes  \
0                   6.06                     0.00                 25
1                   4.71                     0.00                 21
2                   3.91                     0.00                 30
3                   2.83                     0.00                 29
4                   5.04                     0.00                 36
..                   ...                      ...                ...
935                 6.80                     0.00                 17
936                 6.24                     0.05                 73
937                 6.28                     0.00                 18
938                 5.89                     0.00                 88
939                 4.25                     0.00                 23

     FairlyActiveMinutes  LightlyActiveMinutes  SedentaryMinutes  Calories  \
0                     13                   328               728      1985
1                     19                   217               776      1797
2                     11                   181              1218      1776
3                     34                   209               726      1745
4                     10                   221               773      1863
..                   ...                   ...               ...       ...
935                    4                   245              1174      2847
936                   19                   217              1131      3710
937                   11                   224              1187      2832
938                   12                   213              1127      3832
939                    1                   137               770      1849

     TotalMinutesAsleep  TotalTimeInBed
0                     0               0
1                     0               0
2                     0               0
3                     0               0
4                     0               0
..                  ...             ...
935                   0               0
936                   0               0
937                   0               0
938                   0               0
939                   0               0

[940 rows x 17 columns]

**Issue:** 

All data in columns 'TotalMinutesAsleep' and 'TotalTimeInBed' are showing 0 instead of it ororiginal data

**Possible Explanation:** 

If there were data under 'TotalMinutesAsleep' and 'TotalTimeInBed' in the original 'sleepDay_merged.csv' file, it should not show 0 after the join. The COALESCE function is used to replace NULL values with 0, but if there were actual data in those columns, they should appear correctly in the result.

**Proposed Solution:** 

I suspect there might be an issue with the join condition or data types. To troubleshoot this, let's check the data types of the 'sleepDay_merged.csv' DataFrame and the join condition to ensure they are compatible. Additionally, we'll print the first few rows of the joined DataFrame to see if the data is correctly matched. 

Below code will print the data types of the columns in the joined DataFrame and the first few rows of the joined DataFrame. Check if the data types are as expected and whether the data appears correctly matched. If there is any inconsistency or issue, it might help to examine the original CSV files to ensure there are no unexpected characters or formatting problems causing the discrepancy.

In [10]:
# Check data types
print("Data Types:")
print(result_df.dtypes)

# Display the first few rows of the joined DataFrame
print("\nJoined DataFrame:")
print(result_df.head())

Data Types:
Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
TotalMinutesAsleep            int64
TotalTimeInBed                int64
dtype: object

Joined DataFrame:
           Id ActivityDate  TotalSteps  TotalDistance  TrackerDistance  \
0  1503960366    4/12/2016       13162           8.50             8.50
1  1503960366    4/13/2016       10735           6.97             6.97
2  1503960366    4/14/2016       10460           6.74             6.74
3  1503960366    4/15/2016        9762           6.28             6.28
4  1503960366    4/16/2016       12669           8.16             8.16

   LoggedActivitiesDistance  VeryActiveDistance  ModeratelyActiveDistance  \
0                       0.0                1.88                      0.55
1                       0.0                1.57                      0.69
2                       0.0                2.44                      0.40
3                       0.0                2.14                      1.26
4                       0.0                2.71                      0.41

   LightActiveDistance  SedentaryActiveDistance  VeryActiveMinutes  \
0                 6.06                      0.0                 25
1                 4.71                      0.0                 21
2                 3.91                      0.0                 30
3                 2.83                      0.0                 29
4                 5.04                      0.0                 36

   FairlyActiveMinutes  LightlyActiveMinutes  SedentaryMinutes  Calories  \
0                   13                   328               728      1985
1                   19                   217               776      1797
2                   11                   181              1218      1776
3                   34                   209               726      1745
4                   10                   221               773      1863

   TotalMinutesAsleep  TotalTimeInBed
0                   0               0
1                   0               0
2                   0               0
3                   0               0
4                   0               0

**Possible Explanation:** 

Since the columns 'TotalMinutesAsleep' and 'TotalTimeInBed' have data types int64, and there were actual data under those columns in the original 'sleepDay_merged.csv', it seems that the issue is not related to data type conversion or NULL values.

**Proposed Solution:** 

To understand why the data is showing 0 after the join, I am going to check the 'sleep' DataFrame to see if there are any discrepancies in the 'Id' and 'SleepDay' columns. I'll also verify if the 'dailyActivity_merged.csv' DataFrame contains all the dates present in the 'sleepDay_merged.csv' DataFrame.

The code will print the unique dates in the 'sleep' DataFrame, any missing dates in the 'dailyActivity_merged.csv', and the first few rows of the 'sleep' DataFrame. This will help identify if there are discrepancies in dates or any other issues that might be causing the problem. If there are any missing dates in 'dailyActivity_merged.csv', they will not be matched during the join, which could explain why some values are showing 0.

In [11]:
# Check unique dates in 'sleep' DataFrame
unique_sleep_dates = set(sleep_df['SleepDay'])
print("Unique dates in 'sleep' DataFrame:")
print(unique_sleep_dates)

# Check if there are any missing dates in 'dailyActivity_merged.csv'
activity_dates = set(activity_df['ActivityDate'])
missing_dates = unique_sleep_dates - activity_dates
print("\nMissing dates in 'dailyActivity_merged.csv':")
print(missing_dates)

# Check the first few rows of 'sleep' DataFrame
print("\n'sleep' DataFrame:")
print(sleep_df.head())

Unique dates in 'sleep' DataFrame:
{'05/07/2016', '05/04/2016', '05/05/2016', '04/13/2016', '04/14/2016', '04/24/2016', '04/20/2016', '04/19/2016', '04/17/2016', '05/11/2016', '04/27/2016', '05/01/2016', '04/28/2016', '04/26/2016', '04/18/2016', '04/15/2016', '04/25/2016', '04/29/2016', '04/21/2016', '05/06/2016', '05/09/2016', '04/12/2016', '04/23/2016', '04/30/2016', '05/03/2016', '05/12/2016', '04/22/2016', '05/08/2016', '05/10/2016', '04/16/2016', '05/02/2016'}

Missing dates in 'dailyActivity_merged.csv':
{'05/04/2016', '05/07/2016', '05/05/2016', '04/13/2016', '04/14/2016', '04/24/2016', '04/20/2016', '04/19/2016', '04/17/2016', '05/11/2016', '04/27/2016', '05/01/2016', '04/28/2016', '04/26/2016', '04/18/2016', '04/15/2016', '04/25/2016', '04/29/2016', '04/21/2016', '05/06/2016', '05/09/2016', '04/12/2016', '04/23/2016', '04/30/2016', '05/03/2016', '05/12/2016', '04/22/2016', '05/08/2016', '05/10/2016', '04/16/2016', '05/02/2016'}

'sleep' DataFrame:
           Id    SleepDay  TotalSleepRecords  TotalMinutesAsleep  \
0  1503960366  04/12/2016                  1                 327
1  1503960366  04/13/2016                  2                 384
2  1503960366  04/15/2016                  1                 412
3  1503960366  04/16/2016                  2                 340
4  1503960366  04/17/2016                  1                 700

   TotalTimeInBed
0             346
1             407
2             442
3             367
4             712

The code and the output indicate that there are missing dates in the 'activity_df' DataFrame that are present in the 'sleep' DataFrame. To further investigate, I will modify the query to include only the specific rows where the 'Id' and 'ActivityDate' match between the two tables. This will allow us to see if there is any data mismatch in the joined result. We will also print the specific rows where 'TotalMinutesAsleep' and 'TotalTimeInBed' are showing as 0.

In [12]:
# Load data from CSV files into pandas DataFrames
activity_df = pd.read_csv('../input/fitbit/Fitabase Data 4.12.16-5.12.16/dailyActivity_merged.csv')
sleep_df = df_sleepday

# Connect to an SQLite database (if the database doesn't exist, it will be created)
conn = sqlite3.connect('activity_sleep.db')

# Insert DataFrames into SQLite tables
activity_df.to_sql('activity', conn, if_exists='replace', index=False)
sleep_df.to_sql('sleep', conn, if_exists='replace', index=False)

# SQL query to join the two tables with a specific condition
query = """
SELECT a.Id, a.ActivityDate, TotalSteps, TotalDistance, TrackerDistance, LoggedActivitiesDistance,
       VeryActiveDistance, ModeratelyActiveDistance, LightActiveDistance, SedentaryActiveDistance,
       VeryActiveMinutes, FairlyActiveMinutes, LightlyActiveMinutes, SedentaryMinutes, Calories,
       COALESCE(s.TotalMinutesAsleep, 0) AS TotalMinutesAsleep, COALESCE(s.TotalTimeInBed, 0) AS TotalTimeInBed
FROM activity AS a
INNER JOIN sleep AS s ON a.Id = s.Id AND a.ActivityDate = s.SleepDay
WHERE COALESCE(s.TotalMinutesAsleep, 0) = 0 OR COALESCE(s.TotalTimeInBed, 0) = 0
"""

# Execute the query and fetch the result
result_df = pd.read_sql(query, conn)

# Close the database connection
conn.close()

# Display the rows with 'TotalMinutesAsleep' and 'TotalTimeInBed' as 0
print(result_df)

Empty DataFrame
Columns: [Id, ActivityDate, TotalSteps, TotalDistance, TrackerDistance, LoggedActivitiesDistance, VeryActiveDistance, ModeratelyActiveDistance, LightActiveDistance, SedentaryActiveDistance, VeryActiveMinutes, FairlyActiveMinutes, LightlyActiveMinutes, SedentaryMinutes, Calories, TotalMinutesAsleep, TotalTimeInBed]
Index: []

**Possible Explanation:** 

Since the output shows an empty DataFrame, it indicates that there are no rows in the result where 'TotalMinutesAsleep' or 'TotalTimeInBed' are equal to 0.

As a result, it seems that the issue may not be related to the join or NULL values. The 'sleepDay_merged.csv' and 'dailyActivity_merged.csv' data appear to match correctly, and there are no mismatches or missing dates.

**Proposed Solution:**

To further investigate, I can compare the number of rows in the original DataFrames and the joined DataFrame to ensure that the join operation is returning the expected number of rows. Additionally, I can check if there are any rows with NaN values or any other issues that might affect the join result.

By comparing the number of rows in the original DataFrames and the joined DataFrame, and checking for any NaN values in the joined DataFrame, we may be able to identify any potential issues that could be causing the unexpected result. Please share the output from running this code so that we can further investigate and assist you better.

In [13]:
# Check the number of rows in the original DataFrames
print("Number of rows in 'dailyActivity_merged.csv':", len(activity_df))
print("Number of rows in 'sleepDay_merged.csv':", len(sleep_df))

# Connect to an SQLite database (if the database doesn't exist, it will be created)
conn = sqlite3.connect('activity_sleep.db')

# Insert DataFrames into SQLite tables
activity_df.to_sql('activity', conn, if_exists='replace', index=False)
sleep_df.to_sql('sleep', conn, if_exists='replace', index=False)

# SQL query to join the two tables with a specific condition
query = """
SELECT a.Id, a.ActivityDate, TotalSteps, TotalDistance, TrackerDistance, LoggedActivitiesDistance,
       VeryActiveDistance, ModeratelyActiveDistance, LightActiveDistance, SedentaryActiveDistance,
       VeryActiveMinutes, FairlyActiveMinutes, LightlyActiveMinutes, SedentaryMinutes, Calories,
       COALESCE(s.TotalMinutesAsleep, 0) AS TotalMinutesAsleep, COALESCE(s.TotalTimeInBed, 0) AS TotalTimeInBed
FROM activity AS a
INNER JOIN sleep AS s ON a.Id = s.Id AND a.ActivityDate = s.SleepDay
"""

# Execute the query and fetch the result
result_df = pd.read_sql(query, conn)

# Close the database connection
conn.close()

# Check the number of rows in the joined DataFrame
print("Number of rows in the joined DataFrame:", len(result_df))

# Check for NaN values
print("\nNaN values in the joined DataFrame:")
print(result_df.isna().sum())

Number of rows in 'dailyActivity_merged.csv': 940
Number of rows in 'sleepDay_merged.csv': 413
Number of rows in the joined DataFrame: 0

NaN values in the joined DataFrame:
Id                          0.0
ActivityDate                0.0
TotalSteps                  0.0
TotalDistance               0.0
TrackerDistance             0.0
LoggedActivitiesDistance    0.0
VeryActiveDistance          0.0
ModeratelyActiveDistance    0.0
LightActiveDistance         0.0
SedentaryActiveDistance     0.0
VeryActiveMinutes           0.0
FairlyActiveMinutes         0.0
LightlyActiveMinutes        0.0
SedentaryMinutes            0.0
Calories                    0.0
TotalMinutesAsleep          0.0
TotalTimeInBed              0.0
dtype: float64

**Possible Explanation:** 

The results indicate that the joined DataFrame has 0 rows, and there are no NaN values in the joined DataFrame. This suggests that the join operation did not find any matching records between the 'activity' and 'sleep' tables.

Since both DataFrames contain matching dates, the issue might be related to the date format or data type. In some cases, date columns may look the same but have different formats, which can prevent the join from matching them correctly.

**Proposed Solution:**

This code will print the data types and formats of the date columns in both DataFrames, as well as the first few rows of the date columns. It will help us identify any differences in formats or data types that may be causing the join to fail.

In [14]:
# Check the data types and formats of the date columns
print("Data types of date columns in 'activity' DataFrame:")
print(activity_df['ActivityDate'].dtype)
print("Data types of date columns in 'sleep' DataFrame:")
print(sleep_df['SleepDay'].dtype)

# Check the first few rows of the date columns in both DataFrames
print("\nFirst few rows of date columns in 'activity' DataFrame:")
print(activity_df['ActivityDate'].head())
print("\nFirst few rows of date columns in 'sleep' DataFrame:")
print(sleep_df['SleepDay'].head())

Data types of date columns in 'activity' DataFrame:
object
Data types of date columns in 'sleep' DataFrame:
object

First few rows of date columns in 'activity' DataFrame:
0    4/12/2016
1    4/13/2016
2    4/14/2016
3    4/15/2016
4    4/16/2016
Name: ActivityDate, dtype: object

First few rows of date columns in 'sleep' DataFrame:
0    04/12/2016
1    04/13/2016
2    04/15/2016
3    04/16/2016
4    04/17/2016
Name: SleepDay, dtype: object

**Final Solution:**

The issue seems to be related to the different date formats in the 'ActivityDate' column of the 'activity' DataFrame and the 'SleepDay' column of the 'sleep' DataFrame. The 'ActivityDate' uses the format 'M/D/YYYY' (e.g., '4/12/2016'), while the 'SleepDay' uses the format 'MM/DD/YYYY' (e.g., '04/12/2016').

Since the date formats do not match exactly, the join operation fails to find matching records between the two tables. To resolve this, we need to convert both date columns to the same format before performing the join.

In [15]:
# Convert 'ActivityDate' to the format 'MM/DD/YYYY'
activity_df['ActivityDate'] = pd.to_datetime(activity_df['ActivityDate']).dt.strftime('%m/%d/%Y')

# Connect to an SQLite database (if the database doesn't exist, it will be created)
conn = sqlite3.connect('activity_sleep.db')

# Insert DataFrames into SQLite tables
activity_df.to_sql('activity', conn, if_exists='replace', index=False)
sleep_df.to_sql('sleep', conn, if_exists='replace', index=False)

# SQL query to join the two tables on 'Id' and 'ActivityDate'
query = """
SELECT a.Id, a.ActivityDate, TotalSteps, TotalDistance, TrackerDistance, LoggedActivitiesDistance,
       VeryActiveDistance, ModeratelyActiveDistance, LightActiveDistance, SedentaryActiveDistance,
       VeryActiveMinutes, FairlyActiveMinutes, LightlyActiveMinutes, SedentaryMinutes, Calories,
       COALESCE(s.TotalMinutesAsleep, 0) AS TotalMinutesAsleep, COALESCE(s.TotalTimeInBed, 0) AS TotalTimeInBed
FROM activity AS a
LEFT JOIN sleep AS s ON a.Id = s.Id AND a.ActivityDate = s.SleepDay
"""

# Execute the query and fetch the result
result_df = pd.read_sql(query, conn)

# Close the database connection
conn.close()

# Display the result
result_df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,TotalMinutesAsleep,TotalTimeInBed
0,1503960366,04/12/2016,13162,8.500000,8.500000,0.0,1.88,0.55,6.06,0.00,25,13,328,728,1985,327,346
1,1503960366,04/13/2016,10735,6.970000,6.970000,0.0,1.57,0.69,4.71,0.00,21,19,217,776,1797,384,407
2,1503960366,04/14/2016,10460,6.740000,6.740000,0.0,2.44,0.40,3.91,0.00,30,11,181,1218,1776,0,0
3,1503960366,04/15/2016,9762,6.280000,6.280000,0.0,2.14,1.26,2.83,0.00,29,34,209,726,1745,412,442
4,1503960366,04/16/2016,12669,8.160000,8.160000,0.0,2.71,0.41,5.04,0.00,36,10,221,773,1863,340,367
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,8877689391,05/08/2016,10686,8.110000,8.110000,0.0,1.08,0.20,6.80,0.00,17,4,245,1174,2847,0,0
939,8877689391,05/09/2016,20226,18.250000,18.250000,0.0,11.10,0.80,6.24,0.05,73,19,217,1131,3710,0,0
940,8877689391,05/10/2016,10733,8.150000,8.150000,0.0,1.35,0.46,6.28,0.00,18,11,224,1187,2832,0,0
941,8877689391,05/11/2016,21420,19.559999,19.559999,0.0,13.22,0.41,5.89,0.00,88,12,213,1127,3832,0,0
942,8877689391,05/12/2016,8064,6.120000,6.120000,0.0,1.82,0.04,4.25,0.00,23,1,137,770,1849,0,0

In [16]:
# Convert 'ActivityDate' to the format 'MM/DD/YYYY'
activity_df['ActivityDate'] = pd.to_datetime(activity_df['ActivityDate']).dt.strftime('%m/%d/%Y')

# Connect to an SQLite database (if the database doesn't exist, it will be created)
conn = sqlite3.connect('activity_sleep.db')

# Insert DataFrames into SQLite tables
activity_df.to_sql('activity', conn, if_exists='replace', index=False)
sleep_df.to_sql('sleep', conn, if_exists='replace', index=False)

# SQL query to join the two tables on 'Id' and 'ActivityDate'
query = """
SELECT a.Id, a.ActivityDate, TotalSteps, TotalDistance, TrackerDistance, LoggedActivitiesDistance,
       VeryActiveDistance, ModeratelyActiveDistance, LightActiveDistance, SedentaryActiveDistance,
       VeryActiveMinutes, FairlyActiveMinutes, LightlyActiveMinutes, SedentaryMinutes, Calories,
       COALESCE(s.TotalMinutesAsleep, 0) AS TotalMinutesAsleep, COALESCE(s.TotalTimeInBed, 0) AS TotalTimeInBed
FROM activity AS a
LEFT JOIN sleep AS s ON a.Id = s.Id AND a.ActivityDate = s.SleepDay
"""

# Execute the query and fetch the result
result_df = pd.read_sql(query, conn)

# Close the database connection
conn.close()

# Filter out rows with 0 value in TotalMinutesAsleep or TotalTimeInBed
result_df = result_df.query('TotalMinutesAsleep != 0 and TotalTimeInBed != 0')

# Display the result
result_df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,TotalMinutesAsleep,TotalTimeInBed
0,1503960366,04/12/2016,13162,8.50,8.50,0.0,1.88,0.55,6.06,0.0,25,13,328,728,1985,327,346
1,1503960366,04/13/2016,10735,6.97,6.97,0.0,1.57,0.69,4.71,0.0,21,19,217,776,1797,384,407
3,1503960366,04/15/2016,9762,6.28,6.28,0.0,2.14,1.26,2.83,0.0,29,34,209,726,1745,412,442
4,1503960366,04/16/2016,12669,8.16,8.16,0.0,2.71,0.41,5.04,0.0,36,10,221,773,1863,340,367
5,1503960366,04/17/2016,9705,6.48,6.48,0.0,3.19,0.78,2.51,0.0,38,20,164,539,1728,700,712
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
901,8792009665,04/30/2016,7174,4.59,4.59,0.0,0.33,0.36,3.91,0.0,10,20,301,749,2896,343,360
902,8792009665,05/01/2016,1619,1.04,1.04,0.0,0.00,0.00,1.04,0.0,0,0,79,834,1962,503,527
903,8792009665,05/02/2016,1831,1.17,1.17,0.0,0.00,0.00,1.17,0.0,0,0,101,916,2015,415,423
904,8792009665,05/03/2016,2421,1.55,1.55,0.0,0.00,0.00,1.55,0.0,0,0,156,739,2297,516,545
905,8792009665,05/04/2016,2283,1.46,1.46,0.0,0.00,0.00,1.46,0.0,0,0,129,848,2067,439,463

[back to note content](#Note-Content)
### Note Summary

This debugging note involves a Python SQLite table join with unexpected results in the 'TotalMinutesAsleep' and 'TotalTimeInBed' columns, displaying either "None" or "0" values. Initially, the issue was suspected to be related to NULL values, and the COALESCE function was employed to replace them with 0. However, this solution led to all rows displaying '0', regardless of actual data in the original 'sleepDay_merged.csv' file.

Further investigation revealed that the problem stemmed from a discrepancy in date formats between the 'activity' and 'sleep' DataFrames. The 'ActivityDate' column used 'M/D/YYYY', while the 'SleepDay' column used 'MM/DD/YYYY'. Consequently, the join operation failed to match records correctly based on the date.

To address this, the note will convert both date columns to a consistent format before reattempting the join. By aligning the date formats, the table join should produce accurate results with the correct 'TotalMinutesAsleep' and 'TotalTimeInBed' data. The expected outcome of this note is a successful table join without any unexpected values, ensuring accurate data analysis and reporting.

#### To avoid similar issues in the future

* Validate data thoroughly before processing.
* Ensure consistent data formats, especially for date columns.
* Clean and preprocess data to handle missing values.
* Create backups of original datasets before making changes.
* Implement unit tests and data validation checks.
* Document code and add comments for clarity.
* Conduct code reviews for quality assurance.
* Use version control to track changes.